BOT_TOKEN=8716264140:AAGnoHvfWZ2q3mbc0qr_e1KK8jzOAMPhCtw
CLAUDE_API_KEY=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
CHANNEL_ID=-1002284999318
ADMIN_USERNAME=AleksandrOii
ADMIN_IDS=Neirosetkaalex
